body {
    width: 100%;
    height: 100%;
}

/* -----------------------Header---------------------- */

.header {
    padding-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 2px solid #d2cacd;
}

.header .header1 {
    width: 50%;
    display: flex;
}

.header .header2 {
    width: 50%;
    display: flex;
}

.header .header1 .img {
    width: 50%;
    text-align: right;
    margin-right: 0.8%;
}

.header .header1 .img img {
    width: 10%;
    height: 70%;
}

.header .header1 a.home {
    color: black;
    text-decoration: none
}

.header .header1:hover a {
    color: #166fe5;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}

.header .header2 a.login {
    color: gray;
    width: 50%;
    text-align: right;
    margin-right: 6px;
    text-decoration: none;
}

.header .header2 a.login:hover {
    color: #166fe5;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}

.header a.register {
    color: gray;
    text-decoration: none;
}

.header a.register:hover {
    color: #166fe5;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}

/* The dropdown container */
.dropdown {
    float: left;
    /* overflow: hidden; */
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* ---------------------------------------body--------------------------- */
.body{
    width:30%;
    margin:auto;
}

input{
    width: 80%;
    margin-top:3px;
    margin-bottom:15px;
}

input[type="submit"] {
    background-color: #1877f2;
    border: none;
    border-radius: 3px;
    width:25%;
    height: 30px;
}

input:hover {
    border: 0.5px solid #a0a6da;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}