body {
    width: 100%;
    height: 100%;
    background-color: #f4f5f7;
}

/* -----------------------Header---------------------- */

.header {
    padding-top: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 2px solid #d2cacd;
}

.header .header1 {
    width: 50%;
    display: flex;
}

.header .header2 {
    width: 50%;
    display: flex;
}

.header .header1 .img {
    width: 50%;
    text-align: right;
    margin-right: 0.8%;
}

.header .header1 .img img {
    margin-top: -100px;
    width: 30px;
    height: 30px;
}

.header .header1 a.home {
    color: black;
    text-decoration: none
}

.header .header1:hover a {
    color: #166fe5;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}

.header .header2 a.login {
    color: gray;
    width: 50%;
    text-align: right;
    margin-right: 6px;
    text-decoration: none;
}

.header .header2 a.login:hover {
    color: #166fe5;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}

.header a.register {
    color: gray;
    text-decoration: none;
}

.header a.register:hover {
    color: #166fe5;
    transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
}

/* ---------------------------------------body--------------------------- */

.body {
    font-family: arial;
    margin-top: 6%;
    width: 100%;
    height: 100%;
   
}
.body h3{
    margin-bottom:auto;
}
.body form {
    padding: 15px;
    padding-left: 20px;
    width: 20%;
    height: 40%;
    margin:auto;
    background-color: #ffffff;
    border-radius: 0.375rem;
    font-family: Arial;
}

.form-input {
    width:85%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: 0.375rem;
    padding-top: 0.20rem;
    padding-right: 0.75rem;
    padding-bottom: 0.20rem;
    padding-left: 0.75rem;
    margin-top:0.15rem;
    margin-bottom:0.9rem;
    font-size: 1rem;
    line-height: 1.5;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
    border-color: #a4cafe;
}

input[type="submit"]{
    width: 15%;
    height: 30px;
    margin-top:0.85rem;
    margin-bottom: .55rem;;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #1877f2;
    border: none;
    border-radius: 3px;
}
a.forgot{
  display: flex;
  justify-content: center;
    text-decoration: none;
}
