body {
    background-color: White;
}


/* ----------- body-------------- */

.information-vp {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 992px;
    margin-top: 5rem;
    height: 196px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 5px 0px;
    display: flex;
    margin-bottom: 2rem;
}

.avata-vp {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.avata-vp img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}

.row-vp {
    line-height: 1rem;
}

.text-vp {
    width: 50%;
    flex-grow: 8;
    margin-top: -1rem;
    line-height: 1rem;
}

.post-vp {
    width: 20%;
    text-align: center;

    text-align: right;
    /* margin-left: 0rem; */
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

.text-vp .row1-vp {
    display: flex;
    margin-bottom: 0.5rem;
}

p.nick-name-vp {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 23px;
    margin-right: 13px;
}

.text-vp .row1-vp .unfollow-vp {



}

.text-vp .row1-vp .unfollow-vp button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    padding: 2px 15px;
    font-size: 18px;
    line-height: 2rem;
    min-width: 72px;
    cursor: pointer;
    color: wheat;
}

.edit-profile-vp {
    margin-bottom: 0.5rem;
}

.text-vp .number-vp {
    display: inline-flex;
}


.text_vp {
    white-space: nowrap;
    margin: 0px 20px 10px 0px;
}

.row-vp.des-nick-vp {
    margin-bottom: 0.6rem;
}

.row-vp.des-decrip-vp {
    margin-bottom: 0.5rem;
}

.row-vp.description-vp {
    margin-bottom: 0.5rem;
}


/* ------------------------------------------------------------ */

.image-vp {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 992px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    background-color: cadetblue;
}

.image-row-vp {
    display: flex;
}

.image-child-vp {

    width: 317px;
    margin: 5px;
    height: 315px;
    position: relative;
    overflow: hidden;
    justify-content: center;

}

.image-child-vp img {
    width: 100%;
    transition: 2s;
}

.image-child-vp .after-vp {
    position: absolute;
    background-color: rgba(255, 255, 255, .3)!important;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1.5s;
}

.image-child-vp:hover .after-vp {
    visibility: visible;
}

.image-child-vp:hover img {
    transform: scale(1.2);
}


/* ----------------moi----------- */

.after-vp-tym {
    position: absolute;
    display: flex;
    top: 48%;
    left: 44%;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: 0s;
    visibility: hidden;
}

.after-vp-tym img {
    width: 30px;
    height: 30px;
    margin: auto;
    transition: 0s !important;
}

.after-vp-tym p {
    margin-bottom: auto;
    margin-top: auto;
}

.image-child-vp:hover .after-vp-tym {
    visibility: visible;
}


/* -------dialog---------------- */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    /* background-color: #fefefe; */
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 45%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: -8px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

p,
div {
    margin: 0px;
    padding: 0px;
}

.model {
    z-index: 1;
    /* position: fixed; */
    width: 818px;
    margin: auto;
    overflow: hidden;
}

.model-content {
    width: 100%;
    display: flex;
}

.model-content .model-image {
    width: 483px;
}

.model-image img {
    width: 483px;
}

.model-infor {
    width: 335px;
    background-color: #ece3ec;
    padding: 11px;
}

.model-content .model-caption {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.model-caption .avata {
    width: 42px;
    height: 42px;
}

.model-caption .avata img {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
}

.model-caption .name {
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.model-caption .model-action {}

.caption-content {
    font-size: 14px;
    margin-bottom: 1rem;
}

.model-action {
    display: inline-flex;
}

p.number_heart {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
}