
body{
    background-color: White;
}
/* ----------- body-------------- */

.information-vp {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 992px;
    margin-top: 5rem;
    height: 196px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 5px 0px;
    display: flex;
    margin-bottom: 2rem;
}

.avata-vp {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.avata-vp img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}

.row-vp {
    line-height: 1rem;
}

.text-vp {
    width: 50%;
    flex-grow: 8;
    margin-top: -1rem;
    line-height: 1rem;
}

.post-vp {
    width: 20%;
    text-align: center;
    margin-top: 1rem;
    text-align: right;
    /* margin-left: 0rem; */
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

.text-vp .row1-vp {
    display: flex;
    margin-bottom: 0.5rem;
}

p.nick-name-vp {
    width: 20%;
    font-size: 23px;
    margin-right: 13px;
}

.text-vp .row1-vp .unfollow-vp {
    width: 60%;
    margin: auto;
    margin-left: 19rem;
}

.text-vp .row1-vp .unfollow-vp button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    line-height: 2rem;
    min-width: 72px;
    cursor: pointer;
    color: wheat;
}

.edit-profile-vp {
    margin-bottom: 0.5rem;
}

.text-vp .number-vp {
    display: inline-flex;
    width: 62%;
}

.post_number-vp {
    width: 18%;
    /* margin-right: 2rem; */
}

.text-vp .number-vp .followers-vp {
    width: 26%;
    margin-right: 2rem;
}

.following-vp {
    width: 29%;
    margin-right: 2rem;
}

.row-vp.des-nick-vp {
    margin-bottom: 0.6rem;
}

.row-vp.des-decrip-vp {
    margin-bottom: 0.5rem;
}

.row-vp.description-vp {
    margin-bottom: 0.5rem;
}


/* ------------------------------------------------------------ */

.image-vp {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 992px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    background-color: cadetblue;
}

.image-row-vp {
    display: flex;
}

.image-left-vp.image-container-vp {
    width: 35%;
    height: 315px;
}
.image-left-vp.image-container-vp img {
    width: 100%;
    height: 100%;
}
.image-center-vp.image-container-vp {
    width: 35%;
    height: 315px;
}
.image-center-vp.image-container-vp img {
    width: 100%;
    height: 100%;
}
.image-right-vp.image-container-vp {
    width: 35%;
    height: 315px;
}
.image-right-vp.image-container-vp img {
    width: 100%;
    height: 100%;
}
.image-container-vp {
    position: relative;
    margin: 0.5rem;
    overflow: hidden;
    justify-content: center;
}

.image-container-vp img {
    width: 100%;
    transition: 2s;
}

.image-container-vp .after-vp {
    position: absolute;
    background-color: rgba(255, 255, 255, .3)!important;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1.5s;
}

.image-container-vp:hover .after-vp {
    visibility: visible;
}

.image-container-vp:hover img {
    transform: scale(1.2);
}